ul{
    background-color: blanchedalmond;
    list-style-type: none;
    display:flex;
    gap: 25%;
    justify-content: space-between;
    height:10vh;
    align-items: center;
}
@media screen and (width < 500px){
   ul{
    display:none;
   }   
}