.container{
    border: 2px solid;
    width:300px;
    height:300px;
}
@media screen and (orientation:landscape){
    .container{
    border-radius:20px;
    background-color:lightblue;
    }
}
@media screen and (orientation:portrait){
    .container{
    border-radius:0;
    background-color: greenyellow;
    }
}